@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


body {
  background-color: #f7f5f2; /* светло-бежевый фон */
  color: #3e3e3e; /* тёмно-коричневый текст */
  font-family: 'Montserrat', sans-serif;
}


h1, h2, h3 {
  font-weight: 700;
  color: #4a3f2b; /* насыщенный коричневый */
}


.plot-container {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 64, 0, 0.08); /* лёгкая зелёная тень */
}


img {
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(50, 100, 50, 0.15);
  margin-bottom: 20px;
}


.navbar {
  background-color: #cc6600; /* коричневый*/
}

.navbar-brand, .navbar-nav > li > a {
  color: #fff9e6 !important; /* мягкий бежевый */
  font-weight: 600;
}
